<div class="min-h-screen flex items-center justify-center flex-col">
  <h1 class="text-spot-primary-dark text-3xl font-light">
    Bienvenido a Spotify Stats
  </h1>
  <p class="text-spot-primary-dark text-sm mt-2 text-center">
    Aquí puedes ver tus estadísticas de Spotify, <br /> incluyendo tus artistas más escuchados, tus géneros favoritos
    y más.
  </p>
  <button class="bg-spot-primary text-spot-surface hover:bg-spot-primary-dark rounded-lg px-4 py-2 text-xs mt-4"
    (click)="authenticate()">
    Autenticar con Spotify
  </button>
</div>